#me {
  font-size: 2rem;
}

#about {
  margin-top: auto;
}

#navbarResponsive {
  font-size: 1.2rem;
}

#pic1,
#pic2,
#pic3,
#pic4,
#pic5,
#pic6 {
  width: 800px;
  height: 240px;
}

.lead {
  text-align: center;
}
